<div class="marketing-site-features">
  <h2 class="marketing-site-features-headline">{{ features_headline }}</h2>
  <p class="marketing-site-features-subheadline subheader">{{ subheadline }}</p>
  <div class="row">
    {% block features %}
      {{ features }}
    {% endblock %}
  </div>
</div>

