<div class="small-12 medium-3 columns">
  <i class="fa {{ icon_class }}" aria-hidden="true"></i>
  <h4 class="marketing-site-features-title">{{ title }}</h4>
  <p class="marketing-site-features-desc">{{ description }}</p>
</div>