<div class="marketing-site-content-section">
  <div class="marketing-site-content-section-img">
    {{ image }}
  </div>
  <div class="marketing-site-content-section-block">
    <h3 class="marketing-site-content-section-block-header">{{ header }}</h3>
    <p class="marketing-site-content-section-block-subheader subheader">{{ subheader }}</p>
    {{ button }}
  </div>
</div>