<div class="marketing-site-hero" style="background: url('{{ background_url }}') top right no-repeat; background-size: cover;">
  <div class="marketing-site-hero-content">
    <h1>{{ header }}</h1>
    <p class="subheader">{{ subheader }}</p>
    {{ button }}
  </div>
</div>