<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="/foundation_patterns.css">
  {# Todo - Add a block here allowing preview components to easily extend and add assets #}
  <title>Preview Layout</title>
</head>
<body>

{{ yield }}

</body>
</html>