<!-- Use these stylesheets for icons and typography in head of your HTML doc if you want :) -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
<!-- Start of body below -->

<div class="social-links">
  <div class="row">
    {% block social_links %}
      {{ social_links }}
    {% endblock %}
  </div>
</div>