<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="/foundation_patterns.css">
  <link media="all" rel="stylesheet" href="/components/raw/basics/basics.css">
  <title>Preview Layout</title>
</head>
<body>

{{ yield }}

</body>
</html>